<div id="allTheReviewsByUser">
    {{#each reviews}}
        <form id="deleteForm" method="POST" action="/reviews/{{_id}}">
            Name: {{carName}} <br>
            Rating: {{rating}} <br>
            Comment: {{comment}} <br>
            <input type="submit" value="Delete Review"/>
            <input name= '_method' value="DELETE" hidden/> 
        </form>
    {{/each}}
</div>