<section id="loginsection-id">
<div>
    <form id="loginform-id"  class="gjh">
        <label>
            Username
            <input id="email-id" name="emailID" placeholder="Email ID" value="{{users.emailID}}" required>
            </lable>
            <br><br>
            <label>
                Password
            <input id="password-id" name="password" type="password"  placeholder="password" required>
            <br>
            <br>
            <button type=submit>Login</button>
        </label>
    </form>
</div>

<div id="errorlist-id" class="error">
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}
</div>

</section>

