    <div>
    <form action="/users/upload/profilepic" enctype="multipart/form-data" method="POST"> 
            <label>
                Select your profile picture
            <input type="file" name="profilePicture" accept="image/*" class="btn" required/>
            </label>
            <input type="submit" value="Upload Photo"/>
    </form>
    </div>